PORT=3000

# EMAIL DISPATCH CONFIGURATION (Gmail SSL or SMTP)
GMAIL_USER=vaishnavyewale39@gmail.com
GMAIL_APP_PASS=mwwk aufd kstk lgzj

# SMS DISPATCH CONFIGURATION (Fast2SMS or Twilio)
FAST2SMS_API_KEY=E4lNrIjWu6Gt3XszokKhC0R5nFadeDBvy2mPA8gUVcZw9fpJMb2h6WOLGfv17ztIcEXpTS4YlywRiMgV

# Twilio Option
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
